apiVersion: 1

providers:
{% if grafana_dashboard_providers is defined %}
{{ grafana_dashboard_providers | to_nice_yaml(indent=2) | indent(0, true) }}
{% else %}
  - name: "{{ grafana_dashboard_provider_name | default('Provisioned') }}"
    orgId: {{ grafana_dashboard_org_id | default(1) }}
    folder: "{{ grafana_dashboard_folder | default('Provisioned') }}"
    type: file
    disableDeletion: true
    editable: false
    options:
      path: /var/lib/grafana/dashboards
      foldersFromFilesStructure: {{ grafana_dashboard_folders_from_files | default(false) | bool | to_json }}
{% endif %}
