apiVersion: 1

providers:
  - name: "{{ grafana_dashboard_provider_name | default('S1-Dashboards') }}"
    orgId: {{ grafana_dashboard_org_id | default(1) }}
    folder: "{{ grafana_dashboard_folder | default('') }}"
    type: file
    disableDeletion: false
    editable: true
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: {{ grafana_dashboards_container_dir | default('/opt/dashboards') }}
      foldersFromFilesStructure: true
